EndToEndDest/cur/*
EndToEndDest/new/*
EndToEndDest/tmp/*

EndToEndSource/cur/*
EndToEndSource/new/*
EndToEndSource/tmp/*

INBOX/cur/*
INBOX/new/*
INBOX/tmp/*

MailboxMonitorTest/cur/*
MailboxMonitorTest/new/*
MailboxMonitorTest/tmp/*

ProducerTest/cur/*
ProducerTest/new/*
ProducerTest/tmp/*